# Mathematics Question Text Classification with Support Vector Machine (SVM)

## Load Dataset

In [ ]:
#Load dataset from Google Drive
import pandas as pd
from google.colab import drive
drive.mount('/content/drive', force_remount=True)
df = pd.read_csv('/content/drive/MyDrive/Dataset/Matematika-SD-SMP.csv')
df.head()

Mounted at /content/drive

,NO,id,question,choices,key,key_text,label_1,indikator,label_2
0,1,8e4cb4de-bf0c-49ba-87bb-fed51419d294,Seseorang mempunyai sejumlah uang yang akan di...,"A. Rp6.750.000,00\n B. Rp7.050.000,00\n C. Rp7...",B,"Rp7.050.000,00\n",C3,mengaitkan,sedang
1,2,80ed6b49-0e35-4677-978a-a551523d2aaf,Rumus jumlah n suku pertama deret aritmetika a...,A. 39\n ...,E,87,C3,menghitung,mudah
2,3,1fe60e13-2323-4d5a-bfab-a004a23abd88,Bakteri jenis A berkembang biak menjadi dua ka...,A. 640Â Â Â Â \n\t\t\t\t\t\t\t B. 6.400\n\t\...,B,6.400\n\t\t\t\t\t\t\t,C3,menghitung,sulit
3,4,a0235e0f-8a6b-42f8-95eb-d8be56a8517b,Seorang ayah membagikan uang sebesar Rp 100.00...,"A. Rp 15.000,00Â Â Â Â \n ...",C,"Rp 17.500,00\n\t\t\t\t\t\t\t",C3,menghitung,sulit
4,5,5604840d-4e0f-4194-90b4-e8e89161eca1,Suatu perusahaan pakaian dapat menghasilkan 4....,A. 45.500 Â Â Â Â \n\t\t\t\t\t\t\t B. 50.500Â...,E,51.300,C3,menghitung,sedang

## Preprocessing Data

In [ ]:
import re
import string

#Removing character
def hapus_karakter_selain_huruf(text):
  for sp in string.punctuation:
    text = text.replace(sp, " ")
  text = re.sub(r"\d+","",text)    
  return text.replace('/\s\s+/g', ' ')

df['question'] = df['question'].apply(hapus_karakter_selain_huruf)
df.head()

,NO,id,question,choices,key,key_text,label_1,indikator,label_2
0,1,8e4cb4de-bf0c-49ba-87bb-fed51419d294,Seseorang mempunyai sejumlah uang yang akan di...,"A. Rp6.750.000,00\n B. Rp7.050.000,00\n C. Rp7...",B,"Rp7.050.000,00\n",C3,mengaitkan,sedang
1,2,80ed6b49-0e35-4677-978a-a551523d2aaf,Rumus jumlah n suku pertama deret aritmetika a...,A. 39\n ...,E,87,C3,menghitung,mudah
2,3,1fe60e13-2323-4d5a-bfab-a004a23abd88,Bakteri jenis A berkembang biak menjadi dua ka...,A. 640Â Â Â Â \n\t\t\t\t\t\t\t B. 6.400\n\t\...,B,6.400\n\t\t\t\t\t\t\t,C3,menghitung,sulit
3,4,a0235e0f-8a6b-42f8-95eb-d8be56a8517b,Seorang ayah membagikan uang sebesar Rp kep...,"A. Rp 15.000,00Â Â Â Â \n ...",C,"Rp 17.500,00\n\t\t\t\t\t\t\t",C3,menghitung,sulit
4,5,5604840d-4e0f-4194-90b4-e8e89161eca1,Suatu perusahaan pakaian dapat menghasilkan ...,A. 45.500 Â Â Â Â \n\t\t\t\t\t\t\t B. 50.500Â...,E,51.300,C3,menghitung,sedang

In [ ]:
#Stopwords array
sw = ["aja", "agan", "barang", "beli", "baru", "ada",
      "adalah", "ajaa", "akan", "aku", "atas",
      "buat", "boss", "agak", "agar", "apa",
      "biar", "bsa", "alhmdulillah", "alhamdulilah", "akhir",
      "allah", "ane", "arn", "atau", "audah", 
      "bang", "aaaa", "about", "adik", "ah",
      "admin", "and", "as", "bakalan", "barank", "amin",
      "begini","begitu","beberapa"]

#Removing stopword
def stopwords(text):
  text = [word.lower() for word in text.split()] #casefolding
  for word in text:
    for stop in sw:
      if word==stop:
        text.remove(word)
  text = " ".join(text)
  text = re.sub(r'(.+?)\1+', r'\1',text)
  return text

df['question'] = df['question'].apply(stopwords)
df.head()

,NO,id,question,choices,key,key_text,label_1,indikator,label_2
0,1,8e4cb4de-bf0c-49ba-87bb-fed51419d294,seorang mempunyai sejumlah uang yang diambil t...,"A. Rp6.750.000,00\n B. Rp7.050.000,00\n C. Rp7...",B,"Rp7.050.000,00\n",C3,mengaitkan,sedang
1,2,80ed6b49-0e35-4677-978a-a551523d2aaf,rumus jumlah n suku pertama deret aritmetika s...,A. 39\n ...,E,87,C3,menghitung,mudah
2,3,1fe60e13-2323-4d5a-bfab-a004a23abd88,bakteri jenis a berkembang biak menjadi dua ka...,A. 640Â Â Â Â \n\t\t\t\t\t\t\t B. 6.400\n\t\...,B,6.400\n\t\t\t\t\t\t\t,C3,menghitung,sulit
3,4,a0235e0f-8a6b-42f8-95eb-d8be56a8517b,seorang ayah membagikan uang sebesar rp kepada...,"A. Rp 15.000,00Â Â Â Â \n ...",C,"Rp 17.500,00\n\t\t\t\t\t\t\t",C3,menghitung,sulit
4,5,5604840d-4e0f-4194-90b4-e8e89161eca1,suatu perusahan pakaian dapat menghasilkan bua...,A. 45.500 Â Â Â Â \n\t\t\t\t\t\t\t B. 50.500Â...,E,51.300,C3,menghitung,sedang

In [ ]:
import sys
!{sys.executable} -m pip install Sastrawi
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory

#Build stemmer
factory = StemmerFactory()
stemmer = factory.create_stemmer()

#Stemming
def stemming(text):
  text = [stemmer.stem(word) for word in text.split()]
  return " ".join(text)
    
df['question'] = df['question'].apply(stemming)
df.head()

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: Sastrawi in /usr/local/lib/python3.9/dist-packages (1.0.1)

,NO,id,question,choices,key,key_text,label_1,indikator,label_2
0,1,8e4cb4de-bf0c-49ba-87bb-fed51419d294,orang punya jumlah uang yang ambil tiap bulan ...,"A. Rp6.750.000,00\n B. Rp7.050.000,00\n C. Rp7...",B,"Rp7.050.000,00\n",C3,mengaitkan,sedang
1,2,80ed6b49-0e35-4677-978a-a551523d2aaf,rumus jumlah n suku pertama deret aritmetika s...,A. 39\n ...,E,87,C3,menghitung,mudah
2,3,1fe60e13-2323-4d5a-bfab-a004a23abd88,bakteri jenis a kembang biak jadi dua kali lip...,A. 640Â Â Â Â \n\t\t\t\t\t\t\t B. 6.400\n\t\...,B,6.400\n\t\t\t\t\t\t\t,C3,menghitung,sulit
3,4,a0235e0f-8a6b-42f8-95eb-d8be56a8517b,orang ayah bagi uang besar rp kepada orang ana...,"A. Rp 15.000,00Â Â Â Â \n ...",C,"Rp 17.500,00\n\t\t\t\t\t\t\t",C3,menghitung,sulit
4,5,5604840d-4e0f-4194-90b4-e8e89161eca1,suatu usah pakai dapat hasil buah pada awal pr...,A. 45.500 Â Â Â Â \n\t\t\t\t\t\t\t B. 50.500Â...,E,51.300,C3,menghitung,sedang

In [ ]:
#Removing unused columns
df_drop = df.drop(labels=['NO', 'id', 'choices', 'key', 'key_text', 'label_1', 'indikator'], axis=1)
df_drop.head()

                                            question label_2
0  orang punya jumlah uang yang ambil tiap bulan ...  sedang
1  rumus jumlah n suku pertama deret aritmetika s...   mudah
2  bakteri jenis a kembang biak jadi dua kali lip...   sulit
3  orang ayah bagi uang besar rp kepada orang ana...   sulit
4  suatu usah pakai dapat hasil buah pada awal pr...  sedang

## Splitting Dataset

In [ ]:
from sklearn import model_selection
train_x, test_x, train_y, test_y = model_selection.train_test_split(df['question'],df['label_2'],test_size=0.2, random_state=13)

## Feature Extractions

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer

In [ ]:
#TF-IDF
TFIDF_vect = TfidfVectorizer(max_features=5000)
TFIDF_vect.fit(df_drop['question'])
train_x_tfidf = TFIDF_vect.transform(train_x)
test_x_tfidf = TFIDF_vect.transform(test_x)
print(TFIDF_vect.vocabulary_)

{'orang': 441, 'punya': 504, 'jumlah': 257, 'uang': 657, 'yang': 684, 'ambil': 22, 'tiap': 633, 'bulan': 118, 'besar': 94, 'ikut': 226, 'atur': 41, 'baris': 65, 'aritmetika': 34, 'pada': 444, 'pertama': 479, 'rp': 525, 'dua': 168, 'tiga': 636, 'demikian': 149, 'terus': 629, 'seluruh': 563, 'telah': 614, 'lama': 337, 'rumus': 530, 'suku': 595, 'deret': 152, 'tujuh': 649, 'dari': 141, 'sebut': 547, 'bakteri': 57, 'jenis': 253, 'kembang': 292, 'biak': 96, 'jadi': 238, 'kali': 265, 'lipat': 360, 'lima': 355, 'menit': 399, 'waktu': 679, 'belas': 78, 'banyak': 64, 'puluh': 502, 'ayah': 44, 'bagi': 49, 'kepada': 299, 'anak': 24, 'makin': 376, 'muda': 416, 'usia': 674, 'kecil': 281, 'terima': 626, 'jika': 255, 'selisih': 562, 'oleh': 438, 'dekat': 146, 'dan': 139, 'si': 573, 'sulung': 596, 'paling': 453, 'maka': 374, 'bungsu': 122, 'suatu': 591, 'usah': 672, 'pakai': 450, 'dapat': 140, 'hasil': 210, 'buah': 113, 'awal': 43, 'produksi': 498, 'tingkat': 640, 'bila': 100, 'maju': 373, 'tetap': 631, 'dalam': 138, 'tahun': 601, 'ruang': 526, 'tunjuk': 652, 'milik': 405, 'kursi': 329, 'di': 154, 'kempat': 293, 'tahu': 600, 'saudara': 546, 'dengan': 150, 'umur': 665, 'sama': 536, 'tua': 646, 'mereka': 400, 'kenam': 296, 'geometri': 195, 'positif': 490, 'turut': 655, 'rasio': 515, 'itu': 236, 'ke': 279, 'log': 363, 'populasi': 489, 'seranga': 570, 'sat': 543, 'ini': 230, 'capai': 126, 'ekor': 173, 'datang': 143, 'nilai': 427, 'bilang': 101, 'bentuk': 85, 'tambah': 604, 'rang': 513, 'empat': 177, 'jual': 256, 'daging': 137, 'januari': 243, 'kg': 307, 'februari': 182, 'maret': 382, 'selalu': 560, 'belum': 80, 'beda': 71, 'aritmatika': 33, 'antara': 29, 'habis': 203, 'tetapi': 632, 'tidak': 635, 'bulat': 119, 'delap': 147, 'simetri': 576, 'putar': 506, 'persegi': 477, 'nina': 429, 'bingkai': 103, 'foto': 183, 'panjang': 456, 'cm': 130, 'lebar': 346, 'berapa': 88, 'keling': 285, 'ngaburit': 425, 'yusni': 685, 'baca': 45, 'buku': 117, 'pukul': 500, 'sampai': 538, 'segitiga': 552, 'sudut': 593, 'besaranya': 95, 'tepat': 620, 'derajat': 151, 'nama': 422, 'bangun': 61, 'bangundatar': 62, 'saling': 535, 'hadap': 204, 'dibut': 158, 'benda': 82, 'siku': 575, 'tulis': 651, 'gambar': 186, 'sinya': 578, 'karpet': 274, 'meter': 403, 'leber': 347, 'lambang': 338, 'pecah': 464, 'kelas': 283, 'ib': 223, 'ukur': 662, 'luas': 368, 'kolam': 313, 'ikan': 225, 'taman': 603, 'bunga': 120, 'adlah': 8, 'datar': 144, 'kubik': 323, 'akar': 13, 'kuadrat': 322, 'kpk': 320, 'ialah': 222, 'fpb': 184, 'prima': 497, 'suhu': 594, 'air': 11, 'masuk': 386, 'frezer': 185, 'kemudian': 294, 'alami': 15, 'turun': 654, 'es': 179, 'sekarang': 556, 'samping': 539, 'mingu': 406, 'sapu': 541, 'tangan': 609, 'mana': 378, 'rupa': 531, 'ciri': 129, 'belah': 75, 'ketupat': 305, 'satu': 545, 'ibu': 224, 'beli': 79, 'sarden': 542, 'kaleng': 264, 'exp': 180, 'date': 145, 'baik': 52, 'konsumsi': 316, 'buat': 114, 'kue': 325, 'bolu': 105, 'gulung': 200, 'potong': 491, 'delapan': 148, 'jarum': 248, 'pendek': 468, 'angka': 25, 'gelas': 190, 'beri': 92, 'sudah': 592, 'cair': 125, 'naik': 421, 'lagi': 331, 'kulkas': 326, 'sedang': 548, 'bedan': 72, 'udara': 660, 'dingin': 160, 'mula': 417, 'untuk': 667, 'ubah': 658, 'segar': 550, 'beku': 74, 'harus': 209, 'puncak': 503, 'gung': 202, 'matahari': 388, 'terbit': 624, 'energi': 178, 'panas': 454, 'jam': 242, 'jarak': 244, 'kota': 318, 'bandung': 60, 'jakarta': 240, 'km': 311, 'skala': 584, 'peta': 481, 'ruas': 527, 'garis': 187, 'adalah': 4, 'lebih': 348, 'kurang': 328, 'kerucut': 303, 'kelipat': 286, 'sekutu': 559, 'terang': 623, 'perlu': 473, 'kena': 295, 'adan': 5, 'segi': 551, 'rumah': 529, 'abid': 2, 'seko': 557, 'hm': 219, 'kebun': 280, 'kakek': 261, 'pagar': 447, 'biaya': 98, 'per': 471, 'pasang': 460, 'jaran': 245, 'genjang': 193, 'asli': 39, 'cxlix': 134, 'tingi': 639, 'mcmxci': 394, 'marbun': 381, 'uras': 670, 'bakmandi': 56, 'bak': 54, 'mandi': 379, 'kak': 260, 'windu': 681, 'pak': 449, 'edo': 171, 'cat': 127, 'merlukan': 401, 'semua': 566, 'rubah': 528, 'mcmxcix': 395, 'halaman': 205, 'jalan': 241, 'tanam': 605, 'pohon': 486, 'kan': 269, 'kiri': 309, 'butuh': 123, 'renang': 517, 'ling': 357, 'setapak': 572, 'lapang': 341, 'paersegi': 446, 'budi': 115, 'lari': 343, 'eling': 176, 'tempuh': 616, 'ubin': 659, 'berbetuk': 91, 'cmxcm': 131, 'tutup': 656, 'lantai': 340, 'macam': 371, 'yaitu': 683, 'semangka': 564, 'laku': 336, 'ton': 643, 'anton': 31, 'sus': 598, 'dina': 159, 'berangkat': 87, 'sekolah': 558, 'kaki': 262, 'siswa': 582, 'lurus': 369, 'nyi': 435, 'juring': 258, 'lingkar': 358, 'jari': 247, 'pusat': 505, 'kawat': 278, 'minimal': 407, 'akuarium': 14, 'volume': 677, 'rusuk': 532, 'kubus': 324, 'lahan': 332, 'parkir': 459, 'sepeda': 567, 'bonceng': 106, 'belakang': 76, 'persentase': 478, 'masing': 385, 'sisa': 580, 'pa': 442, 'ahmad': 10, 'kodi': 312, 'baju': 53, 'batik': 68, 'kalong': 267, 'harga': 207, 'sehinga': 553, 'mesin': 402, 'pabrik': 443, 'minum': 408, 'mampu': 377, 'tup': 653, 'botol': 109, 'detik': 153, 'ditup': 165, 'mobil': 412, 'liter': 362, 'bensin': 84, 'pulau': 501, 'jawa': 249, 'benar': 81, 'ternak': 627, 'dian': 157, 'pakan': 451, 'sapi': 540, 'hari': 208, 'nyata': 434, 'sisi': 581, 'diagonal': 156, 'panjangdari': 457, 'atas': 40, 'sifat': 574, 'jargenjang': 246, 'guna': 201, 'gedung': 188, 'rencana': 518, 'selesai': 561, 'kerja': 301, 'pekerjan': 466, 'henti': 213, 'kumpul': 327, 'data': 142, 'tentang': 617, 'giat': 196, 'ektrakulikuler': 174, 'kuti': 330, 'metode': 404, 'kecuali': 282, 'saji': 533, 'ambar': 21, 'prosentase': 499, 'banding': 59, 'cepat': 128, 'sederhana': 549, 'luang': 366, 'karina': 273, 'tugas': 647, 'matematika': 389, 'ipa': 232, 'dia': 155, 'reni': 521, 'koleksi': 314, 'bacan': 46, 'upa': 669, 'novel': 432, 'ber': 86, 'genre': 194, 'drama': 167, 'misteri': 411, 'supaya': 597, 'bungkus': 121, 'cokelat': 132, 'dagang': 136, 'karung': 276, 'gula': 199, 'putih': 508, 'bruto': 111, 'tara': 611, 'untung': 668, 'adi': 6, 'pinjam': 483, 'bank': 63, 'indonesia': 227, 'tentu': 618, 'ditangung': 164, 'iqbal': 233, 'laptop': 342, 'tanpa': 610, 'pajak': 448, 'ro': 524, 'uf': 661, 'pn': 485, 'bayar': 70, 'jelas': 252, 'toko': 641, 'diskon': 162, 'kelebihanya': 284, 'belanja': 77, 'manga': 380, 'ongkos': 439, 'angkut': 26, 'keluar': 289, 'usaha': 673, 'tu': 645, 'nbsp': 423, 'alas': 16, 'laki': 335, 'perempuan': 472, 'ingin': 228, 'layang': 345, 'mengunakan': 398, 'kertas': 302, 'kraton': 321, 'lai': 333, 'karton': 275, 'meja': 396, 'presentase': 496, 'ada': 3, 'amir': 23, 'nilaidari': 428, 'nila': 426, 'pedoman': 465, 'lomba': 364, 'bagai': 48, 'soal': 587, 'jawab': 250, 'salah': 534, 'urut': 671, 'aljabar': 20, 'sip': 579, 'sekar': 555, 'hanya': 206, 'tes': 630, 'total': 644, 'jawabanya': 251, 'saman': 537, 'linier': 359, 'variabel': 675, 'himpun': 214, 'lt': 365, 'cah': 124, 'penuh': 470, 'ani': 28, 'slayer': 586, 'seperti': 568, 'lain': 334, 'tempel': 615, 'renda': 519, 'mulai': 418, 'asi': 38, 'arti': 36, 'xy': 682, 'siti': 583, 'gelondong': 191, 'kain': 259, 'jahit': 239, 'seragam': 569, 'padu': 445, 'suara': 590, 'masih': 384, 'wakil': 678, 'piring': 484, 'hitam': 217, 'putaranya': 507, 'brjari': 110, 'singung': 577, 'tik': 637, 'luar': 367, 'pola': 488, 'lidi': 354, 'un': 666, 'miring': 410, 'tegak': 613, 'adit': 7, 'hendak': 211, 'kerangka': 300, 'limas': 356, 'serta': 571, 'satria': 544, 'berat': 90, 'badan': 47, 'kelompok': 288, 'bawah': 69, 'modus': 413, 'pq': 492, 'abcd': 1, 'efgh': 172, 'dm': 166, 'balok': 58, 'lenitha': 350, 'main': 372, 'ular': 663, 'tanga': 607, 'mengelindingkan': 397, 'dadu': 135, 'peluang': 467, 'teoritik': 619, 'muncul': 419, 'mata': 387, 'mu': 415, 'rais': 512, 'kapal': 271, 'motor': 414, 'kendara': 297, 'solar': 589, 'ix': 237, 'gemar': 192, 'ajar': 12, 'bahasa': 51, 'ingris': 229, 'kemari': 290, 'maupun': 392, 'alfin': 17, 'arkan': 35, 'tangal': 608, 'november': 433, 'sekali': 554, 'tuju': 648, 'rata': 516, 'ia': 221, 'isi': 235, 'bahan': 50, 'bakar': 55, 'wib': 680, 'tiba': 634, 'beni': 83, 'nomor': 431, 'diri': 161, 'keliru': 287, 'karena': 272, 'hitung': 218, 'jeruk': 254, 'kilogram': 308, 'ketika': 304, 'alir': 19, 'listrik': 361, 'mati': 391, 'batang': 67, 'pensil': 469, 'ali': 18, 'ekuivalen': 175, 'angota': 27, 'vi': 676, 'putri': 510, 'putra': 509, 'okta': 437, 'rani': 514, 'pernyatan': 476, 'arviana': 37, 'pqr': 493, 'pr': 494, 'kentang': 298, 'tam': 602, 'skor': 585, 'kompetisi': 315, 'sementara': 565, 'tanding': 606, 'basket': 66, 'gelar': 189, 'tim': 638, 'poin': 487, 'raih': 511, 'kalah': 263, 'keungulan': 306, 'bong': 108, 'nol': 430, 'pasir': 462, 'operasi': 440, 'lanjut': 339, 'pangkat': 455, 'invers': 231, 'mipa': 409, 'mas': 383, 'bukan': 116, 'faktor': 181, 'li': 353, 'les': 351, 'piano': 482, 'maya': 393, 'agustus': 9, 'pernanda': 475, 'coklat': 133, 'softdrink': 588, 'pasu': 463, 'godybag': 197, 'tertup': 628, 'nagasaki': 420, 'oc': 436, 'hirosima': 216, 'tokyo': 642, 'laut': 344, 'letak': 352, 'rendah': 520, 'hinga': 215, 'lusin': 370, 'boneka': 107, 'makasar': 375, 'pare': 458, 'apabila': 32, 'palembang': 452, 'riau': 522, 'kalimat': 266, 'kosong': 317, 'huruf': 220, 'kata': 277, 'math': 390, 'is': 234, 'easy': 170, 'audrey': 42, 'abc': 0, 'pradita': 495, 'tas': 612, 'bima': 102, 'tabung': 599, 'dus': 169, 'bu': 112, 'anti': 30, 'bihun': 99, 'bisa': 104, 'distribusi': 163, 'pasar': 461, 'umkm': 664, 'beras': 89, 'kirim': 310, 'tera': 622, 'neto': 424, 'permen': 474, 'tepung': 621, 'terigu': 625, 'bersih': 93, 'kemas': 291, 'gram': 198, 'kotor': 319, 'tukang': 650, 'pesan': 480, 'kaos': 270, 'kampanye': 268, 'biasa': 97, 'hendra': 212, 'bek': 73, 'rim': 523, 'lemabr': 349}

In [ ]:
#BoW
Count_vect = CountVectorizer(max_features=5000)
Count_vect.fit(df_drop['question'])
train_x_count = Count_vect.transform(train_x)
test_x_count = Count_vect.transform(test_x)
print(Count_vect.vocabulary_)

{'orang': 441, 'punya': 504, 'jumlah': 257, 'uang': 657, 'yang': 684, 'ambil': 22, 'tiap': 633, 'bulan': 118, 'besar': 94, 'ikut': 226, 'atur': 41, 'baris': 65, 'aritmetika': 34, 'pada': 444, 'pertama': 479, 'rp': 525, 'dua': 168, 'tiga': 636, 'demikian': 149, 'terus': 629, 'seluruh': 563, 'telah': 614, 'lama': 337, 'rumus': 530, 'suku': 595, 'deret': 152, 'tujuh': 649, 'dari': 141, 'sebut': 547, 'bakteri': 57, 'jenis': 253, 'kembang': 292, 'biak': 96, 'jadi': 238, 'kali': 265, 'lipat': 360, 'lima': 355, 'menit': 399, 'waktu': 679, 'belas': 78, 'banyak': 64, 'puluh': 502, 'ayah': 44, 'bagi': 49, 'kepada': 299, 'anak': 24, 'makin': 376, 'muda': 416, 'usia': 674, 'kecil': 281, 'terima': 626, 'jika': 255, 'selisih': 562, 'oleh': 438, 'dekat': 146, 'dan': 139, 'si': 573, 'sulung': 596, 'paling': 453, 'maka': 374, 'bungsu': 122, 'suatu': 591, 'usah': 672, 'pakai': 450, 'dapat': 140, 'hasil': 210, 'buah': 113, 'awal': 43, 'produksi': 498, 'tingkat': 640, 'bila': 100, 'maju': 373, 'tetap': 631, 'dalam': 138, 'tahun': 601, 'ruang': 526, 'tunjuk': 652, 'milik': 405, 'kursi': 329, 'di': 154, 'kempat': 293, 'tahu': 600, 'saudara': 546, 'dengan': 150, 'umur': 665, 'sama': 536, 'tua': 646, 'mereka': 400, 'kenam': 296, 'geometri': 195, 'positif': 490, 'turut': 655, 'rasio': 515, 'itu': 236, 'ke': 279, 'log': 363, 'populasi': 489, 'seranga': 570, 'sat': 543, 'ini': 230, 'capai': 126, 'ekor': 173, 'datang': 143, 'nilai': 427, 'bilang': 101, 'bentuk': 85, 'tambah': 604, 'rang': 513, 'empat': 177, 'jual': 256, 'daging': 137, 'januari': 243, 'kg': 307, 'februari': 182, 'maret': 382, 'selalu': 560, 'belum': 80, 'beda': 71, 'aritmatika': 33, 'antara': 29, 'habis': 203, 'tetapi': 632, 'tidak': 635, 'bulat': 119, 'delap': 147, 'simetri': 576, 'putar': 506, 'persegi': 477, 'nina': 429, 'bingkai': 103, 'foto': 183, 'panjang': 456, 'cm': 130, 'lebar': 346, 'berapa': 88, 'keling': 285, 'ngaburit': 425, 'yusni': 685, 'baca': 45, 'buku': 117, 'pukul': 500, 'sampai': 538, 'segitiga': 552, 'sudut': 593, 'besaranya': 95, 'tepat': 620, 'derajat': 151, 'nama': 422, 'bangun': 61, 'bangundatar': 62, 'saling': 535, 'hadap': 204, 'dibut': 158, 'benda': 82, 'siku': 575, 'tulis': 651, 'gambar': 186, 'sinya': 578, 'karpet': 274, 'meter': 403, 'leber': 347, 'lambang': 338, 'pecah': 464, 'kelas': 283, 'ib': 223, 'ukur': 662, 'luas': 368, 'kolam': 313, 'ikan': 225, 'taman': 603, 'bunga': 120, 'adlah': 8, 'datar': 144, 'kubik': 323, 'akar': 13, 'kuadrat': 322, 'kpk': 320, 'ialah': 222, 'fpb': 184, 'prima': 497, 'suhu': 594, 'air': 11, 'masuk': 386, 'frezer': 185, 'kemudian': 294, 'alami': 15, 'turun': 654, 'es': 179, 'sekarang': 556, 'samping': 539, 'mingu': 406, 'sapu': 541, 'tangan': 609, 'mana': 378, 'rupa': 531, 'ciri': 129, 'belah': 75, 'ketupat': 305, 'satu': 545, 'ibu': 224, 'beli': 79, 'sarden': 542, 'kaleng': 264, 'exp': 180, 'date': 145, 'baik': 52, 'konsumsi': 316, 'buat': 114, 'kue': 325, 'bolu': 105, 'gulung': 200, 'potong': 491, 'delapan': 148, 'jarum': 248, 'pendek': 468, 'angka': 25, 'gelas': 190, 'beri': 92, 'sudah': 592, 'cair': 125, 'naik': 421, 'lagi': 331, 'kulkas': 326, 'sedang': 548, 'bedan': 72, 'udara': 660, 'dingin': 160, 'mula': 417, 'untuk': 667, 'ubah': 658, 'segar': 550, 'beku': 74, 'harus': 209, 'puncak': 503, 'gung': 202, 'matahari': 388, 'terbit': 624, 'energi': 178, 'panas': 454, 'jam': 242, 'jarak': 244, 'kota': 318, 'bandung': 60, 'jakarta': 240, 'km': 311, 'skala': 584, 'peta': 481, 'ruas': 527, 'garis': 187, 'adalah': 4, 'lebih': 348, 'kurang': 328, 'kerucut': 303, 'kelipat': 286, 'sekutu': 559, 'terang': 623, 'perlu': 473, 'kena': 295, 'adan': 5, 'segi': 551, 'rumah': 529, 'abid': 2, 'seko': 557, 'hm': 219, 'kebun': 280, 'kakek': 261, 'pagar': 447, 'biaya': 98, 'per': 471, 'pasang': 460, 'jaran': 245, 'genjang': 193, 'asli': 39, 'cxlix': 134, 'tingi': 639, 'mcmxci': 394, 'marbun': 381, 'uras': 670, 'bakmandi': 56, 'bak': 54, 'mandi': 379, 'kak': 260, 'windu': 681, 'pak': 449, 'edo': 171, 'cat': 127, 'merlukan': 401, 'semua': 566, 'rubah': 528, 'mcmxcix': 395, 'halaman': 205, 'jalan': 241, 'tanam': 605, 'pohon': 486, 'kan': 269, 'kiri': 309, 'butuh': 123, 'renang': 517, 'ling': 357, 'setapak': 572, 'lapang': 341, 'paersegi': 446, 'budi': 115, 'lari': 343, 'eling': 176, 'tempuh': 616, 'ubin': 659, 'berbetuk': 91, 'cmxcm': 131, 'tutup': 656, 'lantai': 340, 'macam': 371, 'yaitu': 683, 'semangka': 564, 'laku': 336, 'ton': 643, 'anton': 31, 'sus': 598, 'dina': 159, 'berangkat': 87, 'sekolah': 558, 'kaki': 262, 'siswa': 582, 'lurus': 369, 'nyi': 435, 'juring': 258, 'lingkar': 358, 'jari': 247, 'pusat': 505, 'kawat': 278, 'minimal': 407, 'akuarium': 14, 'volume': 677, 'rusuk': 532, 'kubus': 324, 'lahan': 332, 'parkir': 459, 'sepeda': 567, 'bonceng': 106, 'belakang': 76, 'persentase': 478, 'masing': 385, 'sisa': 580, 'pa': 442, 'ahmad': 10, 'kodi': 312, 'baju': 53, 'batik': 68, 'kalong': 267, 'harga': 207, 'sehinga': 553, 'mesin': 402, 'pabrik': 443, 'minum': 408, 'mampu': 377, 'tup': 653, 'botol': 109, 'detik': 153, 'ditup': 165, 'mobil': 412, 'liter': 362, 'bensin': 84, 'pulau': 501, 'jawa': 249, 'benar': 81, 'ternak': 627, 'dian': 157, 'pakan': 451, 'sapi': 540, 'hari': 208, 'nyata': 434, 'sisi': 581, 'diagonal': 156, 'panjangdari': 457, 'atas': 40, 'sifat': 574, 'jargenjang': 246, 'guna': 201, 'gedung': 188, 'rencana': 518, 'selesai': 561, 'kerja': 301, 'pekerjan': 466, 'henti': 213, 'kumpul': 327, 'data': 142, 'tentang': 617, 'giat': 196, 'ektrakulikuler': 174, 'kuti': 330, 'metode': 404, 'kecuali': 282, 'saji': 533, 'ambar': 21, 'prosentase': 499, 'banding': 59, 'cepat': 128, 'sederhana': 549, 'luang': 366, 'karina': 273, 'tugas': 647, 'matematika': 389, 'ipa': 232, 'dia': 155, 'reni': 521, 'koleksi': 314, 'bacan': 46, 'upa': 669, 'novel': 432, 'ber': 86, 'genre': 194, 'drama': 167, 'misteri': 411, 'supaya': 597, 'bungkus': 121, 'cokelat': 132, 'dagang': 136, 'karung': 276, 'gula': 199, 'putih': 508, 'bruto': 111, 'tara': 611, 'untung': 668, 'adi': 6, 'pinjam': 483, 'bank': 63, 'indonesia': 227, 'tentu': 618, 'ditangung': 164, 'iqbal': 233, 'laptop': 342, 'tanpa': 610, 'pajak': 448, 'ro': 524, 'uf': 661, 'pn': 485, 'bayar': 70, 'jelas': 252, 'toko': 641, 'diskon': 162, 'kelebihanya': 284, 'belanja': 77, 'manga': 380, 'ongkos': 439, 'angkut': 26, 'keluar': 289, 'usaha': 673, 'tu': 645, 'nbsp': 423, 'alas': 16, 'laki': 335, 'perempuan': 472, 'ingin': 228, 'layang': 345, 'mengunakan': 398, 'kertas': 302, 'kraton': 321, 'lai': 333, 'karton': 275, 'meja': 396, 'presentase': 496, 'ada': 3, 'amir': 23, 'nilaidari': 428, 'nila': 426, 'pedoman': 465, 'lomba': 364, 'bagai': 48, 'soal': 587, 'jawab': 250, 'salah': 534, 'urut': 671, 'aljabar': 20, 'sip': 579, 'sekar': 555, 'hanya': 206, 'tes': 630, 'total': 644, 'jawabanya': 251, 'saman': 537, 'linier': 359, 'variabel': 675, 'himpun': 214, 'lt': 365, 'cah': 124, 'penuh': 470, 'ani': 28, 'slayer': 586, 'seperti': 568, 'lain': 334, 'tempel': 615, 'renda': 519, 'mulai': 418, 'asi': 38, 'arti': 36, 'xy': 682, 'siti': 583, 'gelondong': 191, 'kain': 259, 'jahit': 239, 'seragam': 569, 'padu': 445, 'suara': 590, 'masih': 384, 'wakil': 678, 'piring': 484, 'hitam': 217, 'putaranya': 507, 'brjari': 110, 'singung': 577, 'tik': 637, 'luar': 367, 'pola': 488, 'lidi': 354, 'un': 666, 'miring': 410, 'tegak': 613, 'adit': 7, 'hendak': 211, 'kerangka': 300, 'limas': 356, 'serta': 571, 'satria': 544, 'berat': 90, 'badan': 47, 'kelompok': 288, 'bawah': 69, 'modus': 413, 'pq': 492, 'abcd': 1, 'efgh': 172, 'dm': 166, 'balok': 58, 'lenitha': 350, 'main': 372, 'ular': 663, 'tanga': 607, 'mengelindingkan': 397, 'dadu': 135, 'peluang': 467, 'teoritik': 619, 'muncul': 419, 'mata': 387, 'mu': 415, 'rais': 512, 'kapal': 271, 'motor': 414, 'kendara': 297, 'solar': 589, 'ix': 237, 'gemar': 192, 'ajar': 12, 'bahasa': 51, 'ingris': 229, 'kemari': 290, 'maupun': 392, 'alfin': 17, 'arkan': 35, 'tangal': 608, 'november': 433, 'sekali': 554, 'tuju': 648, 'rata': 516, 'ia': 221, 'isi': 235, 'bahan': 50, 'bakar': 55, 'wib': 680, 'tiba': 634, 'beni': 83, 'nomor': 431, 'diri': 161, 'keliru': 287, 'karena': 272, 'hitung': 218, 'jeruk': 254, 'kilogram': 308, 'ketika': 304, 'alir': 19, 'listrik': 361, 'mati': 391, 'batang': 67, 'pensil': 469, 'ali': 18, 'ekuivalen': 175, 'angota': 27, 'vi': 676, 'putri': 510, 'putra': 509, 'okta': 437, 'rani': 514, 'pernyatan': 476, 'arviana': 37, 'pqr': 493, 'pr': 494, 'kentang': 298, 'tam': 602, 'skor': 585, 'kompetisi': 315, 'sementara': 565, 'tanding': 606, 'basket': 66, 'gelar': 189, 'tim': 638, 'poin': 487, 'raih': 511, 'kalah': 263, 'keungulan': 306, 'bong': 108, 'nol': 430, 'pasir': 462, 'operasi': 440, 'lanjut': 339, 'pangkat': 455, 'invers': 231, 'mipa': 409, 'mas': 383, 'bukan': 116, 'faktor': 181, 'li': 353, 'les': 351, 'piano': 482, 'maya': 393, 'agustus': 9, 'pernanda': 475, 'coklat': 133, 'softdrink': 588, 'pasu': 463, 'godybag': 197, 'tertup': 628, 'nagasaki': 420, 'oc': 436, 'hirosima': 216, 'tokyo': 642, 'laut': 344, 'letak': 352, 'rendah': 520, 'hinga': 215, 'lusin': 370, 'boneka': 107, 'makasar': 375, 'pare': 458, 'apabila': 32, 'palembang': 452, 'riau': 522, 'kalimat': 266, 'kosong': 317, 'huruf': 220, 'kata': 277, 'math': 390, 'is': 234, 'easy': 170, 'audrey': 42, 'abc': 0, 'pradita': 495, 'tas': 612, 'bima': 102, 'tabung': 599, 'dus': 169, 'bu': 112, 'anti': 30, 'bihun': 99, 'bisa': 104, 'distribusi': 163, 'pasar': 461, 'umkm': 664, 'beras': 89, 'kirim': 310, 'tera': 622, 'neto': 424, 'permen': 474, 'tepung': 621, 'terigu': 625, 'bersih': 93, 'kemas': 291, 'gram': 198, 'kotor': 319, 'tukang': 650, 'pesan': 480, 'kaos': 270, 'kampanye': 268, 'biasa': 97, 'hendra': 212, 'bek': 73, 'rim': 523, 'lemabr': 349}

## SVM Model

In [ ]:
from sklearn import naive_bayes
from sklearn.metrics import classification_report

In [ ]:
# SVM dengan TF-IDF Vectorizer

MNB_TFIDF = naive_bayes.MultinomialNB()
MNB_TFIDF.fit(train_x_tfidf ,train_y)
predictions_MNB_TFIDF = MNB_TFIDF.predict(test_x_tfidf)
print(classification_report(test_y, predictions_MNB_TFIDF))

              precision    recall  f1-score   support

       mudah       0.88      0.33      0.48        21
      sedang       0.57      0.97      0.72        35
       sulit       0.00      0.00      0.00        12

    accuracy                           0.60        68
   macro avg       0.48      0.43      0.40        68
weighted avg       0.56      0.60      0.52        68

/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [ ]:
# SVM dengan Count Vectorizer

MNB_BoW = naive_bayes.MultinomialNB()
MNB_BoW.fit(train_x_count,train_y)
predictions_MNB_BoW = MNB_BoW.predict(test_x_count)
print(classification_report(test_y, predictions_MNB_BoW))

              precision    recall  f1-score   support

       mudah       0.75      0.71      0.73        21
      sedang       0.71      0.83      0.76        35
       sulit       0.71      0.42      0.53        12

    accuracy                           0.72        68
   macro avg       0.72      0.65      0.67        68
weighted avg       0.72      0.72      0.71        68